<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>New appointment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>New appointment</h2>
        <p class="lead">Create a new appointment below.</p>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <h4 class="mb-3">Information</h4>
          <form class="needs-validation" novalidate method="post" action="/appointments">

            <div class="mb-3">
                <label for="pet">Pet</label>
                <select class="form-control" id="pet" name="appt[pet_id]" required>
                  <% Pet.all.each do |pet| %>
                        <option value="<%= pet.id %>" id="<%= pet.name %>"><%= pet.name %></option>
                  <% end %>
                </select>
                <div class="invalid-feedback">
                  Pet is required.
                </div>
            </div>

            <div class="mb-3">
                <label for="sitter">Sitter</label>
                <select class="form-control" id="pet" name="appt[sitter_id]" required>
                  <% Sitter.all.each do |sitter| %>
                        <option value="<%= sitter.id %>" id="<%= sitter.name %>"><%= sitter.name %> ($<%= sitter.get_rate %> per day)</option>
                  <% end %>
                </select>
                <div class="invalid-feedback">
                  Sitter is required.
                </div>
            </div>

            <div class="mb-3">
              <label for="start">Start date and time</label>
              <div class="input-group">
                <input type="datetime-local" class="form-control" id="start" name="appt[start_date_and_time]" required>
                <div class="invalid-feedback" style="width: 100%;">
                  The appointment's start date and time is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="end">End date and time</label>
              <div class="input-group">
                <input type="datetime-local" class="form-control" id="end" name="appt[end_date_and_time]" required>
                <div class="invalid-feedback" style="width: 100%;">
                  The appointment's end date and time is required.
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Create appointment</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 PetSitter</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
