<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Edit: <%= @pet.name %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Edit pet</h2>
        <p class="lead">Edit <%= @pet.name %> below.</p>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <h4 class="mb-3">Information</h4>
          <form class="needs-validation" novalidate method="post" action="/pets/<%= @pet.id %>">
            <input id="hidden" type="hidden" name="_method" value="patch">

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="pet[name]" placeholder="" value="<%= @pet.name %>" required>
                <div class="invalid-feedback">
                  Valid name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="species">Species</label>
              <div class="input-group">
                <input type="text" class="form-control" id="species" name="pet[species]" placeholder="Cat" value="<%= @pet.species %>" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your pet's species is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="dob">Date of Birth</label>
              <div class="input-group">
                <input type="date" class="form-control" id="dob" name="pet[dob]" value="<%= @pet.dob %>" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your pet's DOB is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="feeding">Feeding regimen</label>
              <textarea class="form-control" id="feeding" rows="5" name="pet[feeding_regimen]" placeholder="" required><%= @pet.feeding_regimen %></textarea>
              <div class="invalid-feedback">
                Please enter a valid feeding regimen.
              </div>
            </div>

            <div class="mb-3">
              <label for="medication">Medication regimen</label>
              <textarea class="form-control" id="medication" name="pet[medication_regimen]" placeholder=""><%= @pet.medication_regimen %></textarea>
            </div>

            <div class="mb-3">
              <label for="other">Other notes</label>
              <textarea class="form-control" id="other" name="pet[other_notes]" placeholder=""><%= @pet.other_notes %></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Save pet</button>

            <a class="btn btn-danger" href="/pets/<%= @pet.id %>/delete" role="button">Delete pet</a>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 PetSitter</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
